@model ObraFacilApp.Models.EletricaModel

@{
    ViewData["Title"] = "Create";
}

<h4>Elétrica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="ProjetoId" value="@ViewBag.ProjetoId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LigacaoMonofasica" type="checkbox" /> @Html.DisplayNameFor(model => model.LigacaoMonofasica)
                </label>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LigacaoTrifasica" /> @Html.DisplayNameFor(model => model.LigacaoTrifasica)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="QtdDisjuntores" class="control-label"></label>
                <input asp-for="QtdDisjuntores" class="form-control" />
                <span asp-validation-for="QtdDisjuntores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdTomadas" class="control-label"></label>
                <input asp-for="QtdTomadas" class="form-control" />
                <span asp-validation-for="QtdTomadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdLampadas" class="control-label"></label>
                <input asp-for="QtdLampadas" class="form-control" />
                <span asp-validation-for="QtdLampadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevisaoCusto" class="control-label"></label>
                <input asp-for="PrevisaoCusto" class="form-control" />
                <span asp-validation-for="PrevisaoCusto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioEletrica" class="control-label"></label>
                <input asp-for="DataInicioEletrica" type="date"  class="form-control" />
                <span asp-validation-for="DataInicioEletrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoEletrica" class="control-label"></label>
                <input asp-for="DataConclusaoEletrica" type="date"  class="form-control" />
                <span asp-validation-for="DataConclusaoEletrica" class="text-danger"></span>
            </div>
            <br/>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary" style="background-color:#255f9c" />
                </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

