@model ObraFacilApp.Models.Eletrica

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Eletrica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdProjeto" class="control-label"></label>
                <input asp-for="IdProjeto" class="form-control" />
                <span asp-validation-for="IdProjeto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LigacaoMonofasica" /> @Html.DisplayNameFor(model => model.LigacaoMonofasica)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LigacaoTrifasica" /> @Html.DisplayNameFor(model => model.LigacaoTrifasica)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QtdDisjuntores" class="control-label"></label>
                <input asp-for="QtdDisjuntores" class="form-control" />
                <span asp-validation-for="QtdDisjuntores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdTomadas" class="control-label"></label>
                <input asp-for="QtdTomadas" class="form-control" />
                <span asp-validation-for="QtdTomadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioEletrica" class="control-label"></label>
                <input asp-for="DataInicioEletrica" class="form-control" />
                <span asp-validation-for="DataInicioEletrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoEletrica" class="control-label"></label>
                <input asp-for="DataConclusaoEletrica" class="form-control" />
                <span asp-validation-for="DataConclusaoEletrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

