
<div class="row">

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa1.svg" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Fundação</h5>
                <p class="card-text">Etapa referente  as informações da fundação do projeto.</p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa2.svg" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Alvenaria</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa3.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Cobertura</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa4.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Elétrica</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
            <img src="~/imagens/etapa5.png" class="card-img-top mx-auto d-block" alt="..." style="width:130px; height:130px;">
            <div class="card-body">
                <h5 class="card-title">Hidraulica</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>

</div>
