@model ObraFacilApp.Models.HidraulicaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Hidraulica</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="ProjetoId" value="@Model.ProjetoId" />
            <div class="form-group">
                <label asp-for="QtdTorneiras" class="control-label"></label>
                <div class="input-group">
                <input asp-for="QtdTorneiras" class="form-control" />
                    <span class="input-group-addon" style="margin-left:10px">
                        <input class="form-check-input" type="checkbox" asp-for="QtdTorneirasOK">
                    </span>
                <span asp-validation-for="QtdTorneiras" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="QtdRegistros" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="QtdRegistros" class="form-control" />
                    <span class="input-group-addon" style="margin-left:10px">
                        <input class="form-check-input" type="checkbox" asp-for="QtdRegistrosOk">
                    </span>
                    <span asp-validation-for="QtdRegistros" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="QtdRalos" class="control-label"></label>
                <div class="input-group">
                <input asp-for="QtdRalos" class="form-control" />
                    <span class="input-group-addon" style="margin-left:10px">
                        <input class="form-check-input" type="checkbox" asp-for="QtdRalosOK">
                    </span>
                <span asp-validation-for="QtdRalos" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="QtdCaixaGordura" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="QtdCaixaGordura" class="form-control" />
                    <span class="input-group-addon" style="margin-left:10px">
                        <input class="form-check-input" type="checkbox" asp-for="QtdCaixaGorduraOk">
                    </span>
                    <span asp-validation-for="QtdCaixaGordura" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PrevisaoCusto" class="control-label"></label>
                <input asp-for="PrevisaoCusto" class="form-control" />

                <span asp-validation-for="PrevisaoCusto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataInicioHidraulica" class="control-label" ></label>
                <div class="input-group">
                <input asp-for="DataInicioHidraulica" class="form-control" type="date" />
                    <span class="input-group-addon" style="margin-left:10px">
                        <input class="form-check-input" type="checkbox" asp-for="DataInicioHidraulicaOK">
                    </span>
                <span asp-validation-for="DataInicioHidraulica" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoHidraulica" class="control-label"></label>
                    <div class="input-group">
                <input asp-for="DataConclusaoHidraulica" class="form-control" type="date" />
                    <span class="input-group-addon" style="margin-left:10px">
                        <input class="form-check-input" type="checkbox" asp-for="DataConclusaoHidraulicaOK">
                    </span>
                <span asp-validation-for="DataConclusaoHidraulica" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" style="background-color:#255f9c" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

