@model ObraFacilApp.Models.FundacaoModel

@{
    ViewData["Title"] = "Create";
  
}

<h4>Fundacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <input type="hidden" asp-for="ProjetoId" value="@ViewBag.ProjetoId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ComprimentoAlicerce" class="control-label"></label>
                <input asp-for="ComprimentoAlicerce" class="form-control" />
                <span asp-validation-for="ComprimentoAlicerce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlturaAlicerce" class="control-label"></label>
                <input asp-for="AlturaAlicerce" class="form-control" />
                <span asp-validation-for="AlturaAlicerce" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="AlturaPedra" class="control-label"></label>
                <input asp-for="AlturaPedra" class="form-control" />
                <span asp-validation-for="AlturaPedra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprimentoPedra" class="control-label"></label>
                <input asp-for="ComprimentoPedra" class="form-control" />
                <span asp-validation-for="ComprimentoPedra" class="text-danger"></span>
            </div>
            <div id="resultadoBlocos" style="font-weight: bold;"></div>
            <div class="form-group">
                <label asp-for="AlturaVigaBaldrame" class="control-label"></label>
                <input asp-for="AlturaVigaBaldrame" class="form-control" />
                <span asp-validation-for="AlturaVigaBaldrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprimentoVigaBaldrame" class="control-label"></label>
                <input asp-for="ComprimentoVigaBaldrame" class="form-control" />
                <span asp-validation-for="ComprimentoVigaBaldrame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LarguraVigaBaldrame" class="control-label"></label>
                <input asp-for="LarguraVigaBaldrame" class="form-control" />
                <span asp-validation-for="LarguraVigaBaldrame" class="text-danger"></span>
            </div>


            <div id="resultadoMetragemCubica" style="font-weight: bold;"></div>
            
            
            <div class="form-group">
                <label asp-for="QtdMicro" class="control-label"></label>
                <input asp-for="QtdMicro" class="form-control" />
                <span asp-validation-for="QtdMicro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrevisaoCusto" class="control-label"></label>
                <input asp-for="PrevisaoCusto" class="form-control" />
                <span asp-validation-for="PrevisaoCusto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataInicioFundacao" class="control-label"></label>
                <input asp-for="DataInicioFundacao" type="date" class="form-control" />
                <span asp-validation-for="DataInicioFundacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoFundacao" class="control-label"></label>
                <input asp-for="DataConclusaoFundacao" type="date" class="form-control" />
                <span asp-validation-for="DataConclusaoFundacao" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" style="background-color:#255f9c" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
   

    <script>
        $(document).ready(function () {
            
            function qtdBlocos() {
                var comprimentoAlicerce = parseFloat($('#ComprimentoAlicerce').val());
                var alturaAlicerce = parseFloat($('#AlturaAlicerce').val());
                var comprimentoPedra = parseFloat($('#ComprimentoPedra').val());
                var alturaPedra = parseFloat($('#AlturaPedra').val());
                var qtdBlocos = (comprimentoAlicerce * alturaAlicerce) / (comprimentoPedra * alturaPedra);
                var qtdBlocosInteiro = Math.floor(qtdBlocos);

                var frase = "Necessário uma média de ";
                $('#resultadoBlocos').text(frase + qtdBlocosInteiro + " blocos");
            }

            $('#ComprimentoAlicerce, #AlturaAlicerce, #ComprimentoPedra, #AlturaPedra').on('input', function () {
                qtdBlocos();
            });
            qtdBlocos();
        });

        $(document).ready(function () {
            function resultadoMetragemCubica() {
                var altura = parseFloat($('#AlturaVigaBaldrame').val());
                var comprimento = parseFloat($('#ComprimentoVigaBaldrame').val());
                var largura = parseFloat($('#LarguraVigaBaldrame').val());
                var metragemCubica = altura * comprimento * largura;

                // Exiba o resultado em um elemento HTML
                $('#resultadoMetragemCubica').text('A metragem cúbica é de cimento para viba baldrame é de: ' + metragemCubica.toFixed(2));
            }

            // Use o seletor correto para os elementos de entrada
            $('#AlturaVigaBaldrame, #ComprimentoVigaBaldrame, #LarguraVigaBaldrame').on('input', function () {
                resultadoMetragemCubica();
            });

            resultadoMetragemCubica();
        });
    </script>
  

}