@model ObraFacilApp.Models.Fundacao

@{
    ViewData["Title"] = "Details";
    
}

<div>
    <h4>Fundação</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
        
                
                <div class="form-group">
                    <label asp-for="ComprimentoAlicerce" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="AlturaAlicerce" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="QtdBlocosAlicerce" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="AlturaPedra" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="ComprimentoPedra" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="AlturaVigaBaldrame" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="ComprimentoVigaBaldrame" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="LarguraVigaBaldrame" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="MetragemCubicaCimentoVigaBaldrama" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="QtdMicro" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="DataInicioFundacao" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
                <div class="form-group">
                    <label asp-for="DataConclusaoFundacao" class="control-label"></label>
                <input class="form-check-input" type="checkbox" value="" id="" name="">
                </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
