@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/imagens/UploadFundacao" method="post" enctype="multipart/form-data">
    <label>Selecione uma imagem para upload da etapa de fundação</label>
    <input type="file" name="imgFundacao"/>
    <br />
    <button type="submit" class="btn btn-danger">Enviar imagem</button>
</form>