<!DOCTYPE html>
<html>
<head>

    <div style="background-color: #FFF; border-radius: 4px; padding: 15px;">
        <h1>
            <img src="~/imagens/logo_obra_facil.png" style="width:60px; height:60px;" />
            <i style="font-size:35px; font-family:Arial">Bem-vindo ao ObraFacil </i>
        </h1>
        <br />

        <p>Na nossa busca constante por excelência na construção, apresentamos uma solução poderosa que otimiza cada aspecto do seu projeto. O nosso Sistema de Gerenciamento de Projetos foi criado sob medida para o setor da construção civil e oferece uma gama de vantagens incomparáveis</p>

        <p>Controle de Prazos e Eficiência: Mantenha seus projetos no caminho certo. Nossa plataforma permite que você estabeleça cronogramas realistas e acompanhe o progresso em tempo real, minimizando atrasos.</p>

        <p>Gestão de Custos Aperfeiçoada: Mantenha os custos sob controle. Monitore despesas, otimize compras e minimize desperdícios para manter seu projeto dentro do orçamento.</p>

        <p>Comunicação sem Barreiras: Colaboração eficaz é a chave. Facilitamos a comunicação entre equipes, fornecedores, subcontratados e todas as partes envolvidas.</p>

        <p>Satisfação do Cliente: Foco na satisfação. Ao cumprir prazos e manter orçamentos controlados, garantimos a satisfação dos clientes, o que abre portas para futuras colaborações.</p>

    </div>
</head>
<body>
