<!DOCTYPE html>
<head>
    <title>Contato</title>
  
<body>
    
    <h2>Email</h2>
    <p><a href="mailto:regis.erthal@sou.faccat.br">regis.erthal@sou.faccat.br</a></p>

    <h2>Telefone</h2>
    <p> 51 997316174</p>

    <h2>Endereço</h2>
    <p> Rua 20 de Agosto, 144   Parobé/RS</p>

    <h2>LinkedIn</h2>
    <p>Visite meu perfil no LinkedIn: <a href="https://www.linkedin.com/in/regis-erthal" target="_blank">LinkedIn</a></p>

    <h2>GitHub</h2>
    <p>Confira meu repositório no GitHub: <a href="https://github.com/RegisErthal" target="_blank">GitHub</a></p>
</body>
</html>
