<!DOCTYPE html>
<head>
    <title>Contato</title>
  
<body>

    <i class="fa-solid fa-envelope"></i>
    <p><a href="mailto:regis.erthal@sou.faccat.br">regis.erthal@sou.faccat.br</a></p>

    <i class='fa fa-phone'></i>
    <p> 51 997316174</p>

    <i class="fa-solid fa-map-location-dot"></i>
    <p> Rua 20 de Agosto, 144   Parobé/RS</p>

    <i class="fa-brands fa-linkedin"></i>
    <p><a href="https://www.linkedin.com/in/regis-erthal" target="_blank">Regis-erthal</a></p>

        <i class="fa-brands fa-linkedin"></i>
        <p><a href="https://github.com/RegisErthal" target="_blank">RegisErthal</a></p>
</body>
</head>
</html>
