@model ObraFacilApp.Models.ProjetoModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="margin-top: 5px">
                <label asp-for="NomeProjeto" class="control-label">Nome do Projeto</label>
                <input asp-for="NomeProjeto" class="form-control" />
                <span asp-validation-for="NomeProjeto" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 5px">
                <label asp-for="Responsavel" class="control-label">Responsável</label>
                <input asp-for="Responsavel" class="form-control" />
                <span asp-validation-for="Responsavel" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 5px">
                <label asp-for="EmailResponsavel" class="control-label">E-mail do Responsável</label>
                <input asp-for="EmailResponsavel" class="form-control" />
                <span asp-validation-for="EmailResponsavel" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 5px">
                <label asp-for="CustoMetro" class="control-label">Custo por Metro</label>
                <input asp-for="CustoMetro" class="form-control" />
                <span asp-validation-for="CustoMetro" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 5px">
                <label asp-for="DataInicio" class="control-label">Data de Início</label>
                <input asp-for="DataInicio" class="form-control datepicker" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 5px">
                <label asp-for="DataConclusao" class="control-label">Data de Conclusão</label>
                <input asp-for="DataConclusao" class="form-control" />
                <span asp-validation-for="DataConclusao" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top: 15px">
                <input type="submit" value="Salvar" class="btn btn-primary" style="background-color:#255f9c" />
            </div>
        </form>
    </div>
</div>

<p>
    <a class="btn btn-primary" style="background-color:#255f9c" asp-route-id="@Model?.Id" asp-controller="Etapas" asp-action="Index">Etapas</a>
</p>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
