@model ObraFacilApp.Models.AlvenariaModel

@{
    ViewData["Title"] = "Create";
   
}

<h4>Alvenaria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" name="ProjetoId" value="@ViewBag.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MetrosDeParede" class="control-label"></label>
                <input asp-for="MetrosDeParede" class="form-control" />
                <span asp-validation-for="MetrosDeParede" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AlturaBloco" class="control-label"></label>
                <input asp-for="AlturaBloco" class="form-control" />
                <span asp-validation-for="AlturaBloco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComprimentoBlocos" class="control-label"></label>
                <input asp-for="ComprimentoBlocos" class="form-control" />
                <span asp-validation-for="ComprimentoBlocos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdPilares" class="control-label"></label>
                <input asp-for="QtdPilares" class="form-control" />
                <span asp-validation-for="QtdPilares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioAlvenaria" class="control-label"></label>
                <input asp-for="DataInicioAlvenaria" type="date" class="form-control" />
                <span asp-validation-for="DataInicioAlvenaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoAlvenaria" class="control-label"></label>
                <input asp-for="DataConclusaoAlvenaria" type="date" class="form-control" />
                <span asp-validation-for="DataConclusaoAlvenaria" class="text-danger"></span>
            </div>
            <p>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" style="background-color:#255f9c" />
            </div>
            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

