<!DOCTYPE html>
<head>
    <title>ObraFacil</title>

</head>
<body>
    <div style="background-color: #FFF; border-radius: 4px; padding: 15px;">
        <h1>
            <img src="~/imagens/logo_obra_facil.png" style="width:60px; height:60px;" />
            <i style="font-size:35px; font-family:Arial">ObraFacil </i>
        </h1>
        <br />
        <p>
            O Obra Fácil nasceu em março de 2023, quando eu Régis Erthal tive a necessidade de criar um projeto para o trabalho de conclusão de curso de Sistema para Internet das Faculdade integradas de Taquara (Faccat), e a demanda de uma ferramenta para monitorar as etapas de construção da minha casa que também estava sendo iniciada no momento.
        </p>

        <p>
            A ideia inicial era apenas fazer um projeto focado no cronograma e prazos de entrega, porém percebi a necessidade de novas funções.
        </p>

        <p>
            A ferramenta tem como objetivo o auxílio na estruturação e organização de um projeto de construção civil, pode ser utilizado por arquitetos, engenheiros, construtores e contratantes de uma obra.
        </p>

        <p>
            O controle é feito por etapas, nestas etapas é possível calcular uma prévia da quantidade de materiais e custo da mão de obra,
        </p>

        <p>
            Além destas funcionalidades o Obra Facil visa facilitar na organização e visualização das etapas já concluídas onde é possível haver uma interação entre arquiteto, engenheiro, construtor e contratante dos serviços.
        </p>

        <p>
            Todas estas funções disponibilizadas ao usuário de forma gratuita.
        </p>
    </div>
</body>
</html>
