@model ObraFacilApp.Models.CoberturaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cobertura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProjeto" class="control-label"></label>
                <input asp-for="IdProjeto" class="form-control" />
                <span asp-validation-for="IdProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TamanhoCobertura" class="control-label"></label>
                <input asp-for="TamanhoCobertura" class="form-control" />
                <span asp-validation-for="TamanhoCobertura" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PossueLaje" /> @Html.DisplayNameFor(model => model.PossueLaje)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EspessuraLaje" class="control-label"></label>
                <input asp-for="EspessuraLaje" class="form-control" />
                <span asp-validation-for="EspessuraLaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioCobertura" class="control-label"></label>
                <input asp-for="DataInicioCobertura" class="form-control" />
                <span asp-validation-for="DataInicioCobertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoCobertura" class="control-label"></label>
                <input asp-for="DataConclusaoCobertura" class="form-control" />
                <span asp-validation-for="DataConclusaoCobertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="background-color:#255f9c" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

