@model ObraFacilApp.Models.CoberturaModel

@{
    ViewData["Title"] = "Create";
}

<h4>Cobertura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" name="ProjetoId" value="@ViewBag.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TamanhoCobertura" class="control-label"></label>
                <input asp-for="TamanhoCobertura" class="form-control" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PossueLaje" /> @Html.DisplayNameFor(model => model.PossueLaje)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EspessuraLaje" class="control-label"></label>
                <input asp-for="EspessuraLaje" class="form-control" />
                <span asp-validation-for="EspessuraLaje" class="text-danger"></span>
            </div>

            <div id="resultadoMetragemCubica" style="font-weight: bold;">sdsdsd</div>

            <div class="form-group">
                <label asp-for="PrevisaoCusto" class="control-label"></label>
                <input asp-for="PrevisaoCusto" class="form-control" />
                <span asp-validation-for="PrevisaoCusto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicioCobertura" class="control-label"></label>
                <input asp-for="DataInicioCobertura" type="date" class="form-control" />
                <span asp-validation-for="DataInicioCobertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConclusaoCobertura" class="control-label"></label>
                <input asp-for="DataConclusaoCobertura" type="date"  class="form-control" />
                <span asp-validation-for="DataConclusaoCobertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" style="background-color:#255f9c" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            function resultadoMetragemCubica() {
                var tamanhoCobertura = parseFloat($('#TamanhoCobertura').val());
                var espessuraLaje = parseFloat($('#EspessuraLaje').val());

                var metragemCubica = espessuraLaje * tamanhoCobertura;

                // Exiba o resultado em um elemento HTML
                $('#resultadoMetragemCubica').text('Metragem cúbica é de cimento para chapa: ' + metragemCubica.toFixed(2));
            }

            // Use o seletor correto para os elementos de entrada
            $('#TamanhoCobertura, #EspessuraLaje').on('input', function () {
                resultadoMetragemCubica();
            });

            resultadoMetragemCubica();
        });
    </script>


}